import common.bazelrc

# Workaround for maximum path length issues
startup --windows_enable_symlinks
common --enable_runfiles

build:clang-cl --cxxopt=/std:c++17
build:clang-cl --extra_toolchains=@local_config_cc//:cc-toolchain-x64_windows-clang-cl --extra_execution_platforms=//build_defs:x64_windows-clang-cl --host_platform=//build_defs:x64_windows-clang-cl
build:msvc-cl --cxxopt=/std:c++17
build:msvc-cl --platforms=//build_defs:x64_windows-msvc-cl
